.thumbnail img{
    width: 100%;
}

#thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

#trademark{
    z-index: 1;
    font-display: bottom;
}